.footer {
  background-color: $head-footer-bgcolor;
  padding-top: 60px;
  padding-bottom: 60px;
  &__bottom {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
    }
  }
}

.table-box {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.contact-box {
  width: 206px;
  height: 80px;
  @media screen and (max-width: 767px) {
    margin: 60px auto;
  }
  &__text {
    @extend %box-text;
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
}

.mail-box {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
  &__text {
    @extend %box-text;
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
}

.bottom-box {
  @media screen and (max-width: 767px) {
    margin: 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
