.menu-button {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 3;

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

// .menu-container {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 480px;
//   height: 796px;
//   background: $primary-white-color;
//   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
//     0px 1px 3px rgba(0, 0, 0, 0.16);
//   // z-index: 2;

//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;

//   transition: opacity 250ms linear, visibility 250ms linear;

//   &.is-open {
//     display: block;

//     opacity: 1;
//     visibility: visible;
//     pointer-events: initial;
//   }
// }

.menu-container {
  @media screen and (max-width: 767px) {
    background: $primary-white-color;

    padding: 48px 40px;
    text-align: left;

    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    opacity: 0;

    transition: opacity 250ms $function-animation;
  }

  @media screen and (min-width: 768px) {
    @include centeredFlex();
  }

  &.is-open {
    @media screen and (max-width: 767px) {
      display: block;
      opacity: 1;

      pointer-events: initial;
    }
  }
}

// .mobile-menu .content {
//   height: 100%;
//   background-color: #fff;
//   width: 70%;

//   transform: translateX(-100%);

//   transition: transform 250ms linear 250ms;
// }

// .mobile-menu.is-open .content {
//   transform: translateX(0);
// }
.social-menu {
  @include centeredFlex($place: flex-start);

  @extend %list;
}

.social-menu__link {
  @extend %link;
  @include centeredFlex();

  color: $accent-color;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
}
